@import "tailwindcss";

@theme {
  --color-brand-red: #FF4D4D;
  --color-brand-dark: #111111;
  --color-brand-gray: #F4F4F4;
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Animated Border Utility */
  .draw-border {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 1s ease-in-out;
  }

  .group:hover .draw-border {
    stroke-dashoffset: 0;
  }
}